@charset "UTF-8";
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Satoshi;
  font-display: swap;
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"), url("../fonts/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Satoshi;
  font-display: swap;
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"), url("../fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Manrope", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Manrope", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation; /* отключение масштабирования */
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #fbf8ec;
}

*::-webkit-scrollbar-thumb {
  background-color: #3c50e0;
}

html {
  scrollbar-gutter: stable;
}
html._lock {
  overflow: hidden;
  position: relative;
  height: 100%;
}

body {
  color: #0c1116;
  font-size: 16px;
  background-color: #f1f5f9;
}
body._lock {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
}

._container {
  min-width: 100%;
  padding: 45px;
}
@media (max-width: 1615px) {
  ._container {
    padding: 20px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  fill: #000;
}

.wp-input {
  position: relative;
}
.wp-input .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  fill: #64748b;
}
.wp-input .just-validate-error-label {
  position: absolute;
  font-size: 12px;
  top: 100%;
  left: 0;
  color: #d42424;
}

.input {
  width: 100%;
  color: #64748b;
  font-weight: 400;
  font-size: 16px;
  padding: 15px 20px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  background-color: #fff;
  transition: 0.2s;
}
.input::-moz-placeholder {
  opacity: 0.5;
}
.input::placeholder {
  opacity: 0.5;
}
.input:focus {
  border-color: #3c50e0;
}
.input.just-validate-error-field {
  border-color: #d42424;
}
.input.edit {
  background-color: #eff4fb;
}
.input.not-edit {
  border-color: #e2e8f0;
}

.wp-input-cell {
  width: 100%;
  position: relative;
}
.wp-input-cell .just-validate-error-label {
  display: none;
}
.wp-input-cell .icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.wp-input-cell.is-icon .input-cell {
  padding-left: 25px;
}
.wp-input-cell.is-dop-content .dop-el-content {
  display: none;
}
.wp-input-cell.is-dop-content.not-edit .input-cell {
  display: none;
}
.wp-input-cell.is-dop-content.not-edit .dop-el-content {
  display: inline-block;
}

.input-cell {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  color: #212b36;
  border-bottom: 1px solid #212b36;
  padding: 8px 0;
  background-color: transparent;
  transition: 0.2s;
}
.input-cell::-moz-placeholder {
  opacity: 0.5;
}
.input-cell::placeholder {
  opacity: 0.5;
}
.input-cell:focus {
  border-color: #3c50e0;
}
.input-cell.just-validate-error-field {
  border-color: #d42424;
}
.input-cell.not-edit {
  border-color: transparent;
}

.input-passport {
  width: 100%;
  border-radius: 3px;
  padding: 5px 9px;
  height: 30px;
  background: #eee;
  font-weight: 500;
  font-size: 14px;
  color: #212b36;
}

.wp-status {
  width: 100%;
  border-radius: 3px;
}
.wp-status.not-confirmed .status.not-confirmed {
  display: flex;
}
.wp-status.confirmed .status.confirmed {
  display: flex;
}

.status {
  display: none;
  align-items: center;
  gap: 5px;
  padding: 7px 10px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  height: 30px;
}
.status.not-confirmed {
  color: #d42424;
  background-color: #ffdbdb;
}
.status.not-confirmed .icon {
  stroke: #d42424;
  height: 10px;
  width: 10px;
}
.status.confirmed {
  color: #0b704e;
  background-color: #cff1e6;
}
.status.confirmed .icon {
  stroke: #0b704e;
  height: 15px;
  width: 15px;
}

.textarea {
  resize: none;
  transition: 0.2s;
  height: 190px;
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  padding: 15px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.textarea::-moz-placeholder {
  color: #64748b;
}
.textarea::placeholder {
  color: #64748b;
}
.textarea:focus {
  border-color: #3c50e0;
}
.textarea.just-validate-error-field {
  border-color: #d42424;
}
.textarea.edit {
  background-color: #eff4fb;
}
.textarea.not-edit {
  border-color: #e2e8f0;
}

.button {
  border-radius: 4px;
  background-color: #3c50e0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: 0.2s;
  padding: 12px 25px;
}
.button:hover {
  opacity: 0.9;
}
.button:active {
  transform: scaleX(0.95);
  box-shadow: 0 2px 4px rgba(147, 165, 247, 0.3);
}
.button.transparent {
  background-color: transparent;
  color: #1c2434;
  border: 1px solid #eaecee;
  padding: 10px 25px;
}
.button.transparent:hover {
  opacity: 1;
  border-color: #3c50e0;
}

.button-table {
  border: 1px solid #eaecee;
  border-radius: 4px;
  height: 40px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #0c1116;
  transition: 0.2s;
}
.button-table .icon {
  fill: #a8b0b9;
}
.button-table .icon.icon-plus {
  width: 10px;
  height: 10px;
}
.button-table:hover {
  background-color: #e1edfd;
}
.button-table:active {
  background-color: #edf6ff;
}
.button-table.btn-table-upload-excel[data-count] span {
  order: 0;
}
.button-table.btn-table-upload-excel[data-count]::after {
  content: attr(data-count);
  order: 1;
}
.button-table.btn-table-upload-excel[data-count] .icon {
  order: 2;
}

.button-text {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 155%;
  color: #212b36;
}
.button-text .icon {
  stroke: currentColor;
  width: 16px;
  height: 16px;
}
.button-text.blue {
  color: #3c50e0;
}
.button-text.btn-edit-client-data .span-edit,
.button-text.btn-edit-client-data .icon-edit {
  display: inline-block;
}
.button-text.btn-edit-client-data .span-save,
.button-text.btn-edit-client-data .icon-save {
  display: none;
}
.button-text.btn-edit-client-data._is-edit {
  color: #3c50e0;
}
.button-text.btn-edit-client-data._is-edit .span-edit,
.button-text.btn-edit-client-data._is-edit .icon-edit {
  display: none;
}
.button-text.btn-edit-client-data._is-edit .span-save,
.button-text.btn-edit-client-data._is-edit .icon-save {
  display: inline-block;
}

.button-icon-search {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 50px;
}

.table-tippy-client {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 2px;
  box-shadow: 0 8px 13px -3px rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 10px;
}
.table-tippy-client__button {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
  color: #212b36;
  transition: 0.2s;
}
.table-tippy-client__button .icon {
  width: 15px;
  height: 15px;
  stroke: currentColor;
}
.table-tippy-client__button:hover {
  background-color: #f1f5f9;
}

.tippy-info-span {
  border: 2px solid #e2e8f0;
  border-radius: 4px;
  background-color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-align: justify;
  color: #212b36;
  padding: 4px 10px;
  position: relative;
}
.tippy-info-span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  border-width: 6px;
  border-style: solid;
  border-color: #e2e8f0 transparent transparent transparent; /* Цвет стрелки */
}

.item-info-count[data-count]::after {
  content: attr(data-count);
  background: #3c50e0;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  border-radius: 4px;
  padding: 2px 7px;
}
.item-info-count[data-count][data-count=""] {
  display: none;
}

.sidebar {
  background-color: #1c2434;
  width: 100%;
  max-width: 280px;
  min-width: 280px;
  min-height: 100vh;
  overflow-y: auto;
}
@media (max-width: 768.98px) {
  .sidebar {
    position: fixed;
    top: 70px;
    min-height: calc(100vh - 70px);
    left: 0;
    transform: translate(-100%, 0);
    transition: 0.3s;
    z-index: 9;
  }
  .sidebar._active {
    transform: translate(0);
  }
}
@media (max-width: 478.98px) {
  .sidebar {
    width: 100%;
    max-width: none;
  }
}
.sidebar__body {
  width: 100%;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (max-width: 768.98px) {
  .sidebar__body {
    padding: 20px;
    gap: 15px;
  }
}
.sidebar__logo {
  width: 110px;
  height: 40px;
  overflow: hidden;
}
.sidebar__logo img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 768.98px) {
  .sidebar__logo {
    display: none;
  }
}
.sidebar__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
.sidebar__wp-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar__name-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  color: #8a99af;
  padding-left: 15px;
}
.sidebar__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sidebar__item {
  display: flex;
  flex-direction: column;
}
.sidebar__item_control {
  width: 100%;
  display: flex;
  text-align: left;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.2s;
  overflow: hidden;
  position: relative;
}
.sidebar__item_control .icon {
  flex-shrink: 0;
  fill: #dee4ee;
  width: 18px;
  height: 18px;
  transition: 0.2s;
}
.sidebar__item_control .icon.icon-contract, .sidebar__item_control .icon.icon-list-users {
  fill: none;
}
.sidebar__item_control .icon.icon-arrow {
  width: 12px;
  height: 8px;
  transform: rotate(180deg);
}
.sidebar__item_control span {
  flex: 1 1 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #dee4ee;
}
.sidebar__item_control::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 2px;
  transform: translate(-100%);
  background: #3d50e0;
  border-radius: 20px;
  transition: 0.2s;
}
.sidebar__item_control:hover {
  background-color: #333a48;
}
.sidebar__item_control:active {
  background-color: #3b4457;
}
.sidebar__item_content {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar__item_content > a {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px 0 45px;
  cursor: pointer;
}
.sidebar__item_content > a > span {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a99af;
  flex: 1 1 auto;
  transition: 0.2s;
}
.sidebar__item_content > a:hover > span {
  color: #dee4ee;
}
.sidebar__item_content > a._active > span {
  color: #dee4ee;
}
.sidebar__item._open .sidebar__item_control {
  background-color: #333a48;
}
.sidebar__item._open .sidebar__item_control::before {
  transform: translate(0);
}
.sidebar__item._open .sidebar__item_control .icon.icon-arrow {
  transform: rotate(0);
}
.sidebar__item._open .sidebar__item_content {
  margin: 15px 0 10px 0;
}
.sidebar__item._active .sidebar__item_control {
  background-color: #333a48;
}
.sidebar__item._active .sidebar__item_control::before {
  transform: translate(0);
}
.sidebar__item._active .sidebar__item_control .icon.icon-arrow {
  transform: rotate(0);
}

.header {
  padding: 15px 30px;
  width: 100%;
  box-shadow: 0 1px 0 0 #e2e8f0;
  background: #fff;
}
@media (max-width: 768.98px) {
  .header {
    padding: 10px 20px;
  }
}
.header__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
}
@media (max-width: 1600px) {
  .header__content {
    gap: calc(10px + 25 * (100vw - 320px) / 1280);
  }
}
.header__logo {
  margin-right: auto;
  width: 75px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768.98px) {
  .header__logo {
    display: none;
  }
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 768.98px) {
  .header__icons {
    gap: 10px;
  }
}
.header__icon {
  position: relative;
}
.header__icon_btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #eff4fb;
  border: 1px solid #e2e8f0;
  transition: 0.2s;
  position: relative;
}
.header__icon_btn .icon {
  width: 18px;
  height: 18px;
}
.header__icon_btn .dot {
  display: none;
}
.header__icon_btn.is-date .dot {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.header__icon_btn.is-date .dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dc3545;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}
.header__icon_btn:hover {
  background-color: #e2edfd;
}
.header__icon_btn:active {
  box-shadow: 0 0 6px 2px #e2edfd;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__user_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__user_info .name {
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
  text-align: right;
  color: #212b36;
}
.header__user_info .email {
  font-weight: 500;
  font-size: 13px;
  line-height: 108%;
  text-align: right;
  color: #637381;
}
@media (max-width: 576.98px) {
  .header__user_info {
    display: none;
  }
}
.header__user_img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eff4fb;
}
.header__user_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.header__user .icon-arrow {
  fill: #637381;
  width: 12px;
  height: 8px;
  transform: rotate(180deg);
}

.notification {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translate(0, 22px);
  background-color: #f9f9f9;
  width: 320px;
  border: 1px solid #e2e8f0;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 13px -3px rgba(0, 0, 0, 0.07);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
.notification._active {
  opacity: 1;
  visibility: visible;
}
.notification__title {
  padding: 12px 18px;
  border-bottom: 1px solid #e2e8f0;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #8a99af;
}
.notification__list {
  width: 100%;
}
.notification__item {
  padding: 12px 18px;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.notification__item p {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #1c2434;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notification__item span {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #64748b;
}
.notification__item:last-child {
  border-bottom: none;
}

.header-burger {
  flex-shrink: 0;
  display: none;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #eff4fb;
  border: 1px solid #e2e8f0;
  cursor: pointer;
  z-index: 10;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}
.header-burger span {
  display: block;
  transition: all 0.3s ease 0s;
  width: 15px;
  border-radius: 2px;
  height: 2px;
  background: #64748b;
}
.header-burger._active {
  background-color: #1c2434;
}
.header-burger._active span {
  position: absolute;
  transform: scale(0);
  background-color: #e2e8f0;
}
.header-burger._active span:first-child {
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
}
.header-burger._active span:last-child {
  bottom: 50%;
  transform: translate(0, 50%) rotate(45deg);
}
@media (max-width: 768.98px) {
  .header-burger {
    display: flex;
  }
}

.modal {
  -webkit-overflow-scrolling: touch;
  z-index: 10;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}
.modal::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}
.modal._show {
  visibility: visible;
  overflow: auto;
}
.modal._show::before {
  opacity: 1;
}
.modal._show .modal_body {
  transform: scale(1);
}
.modal._active {
  overflow: auto;
  visibility: visible;
}
.modal._active::before {
  opacity: 1;
}
.modal._active .modal__body {
  transition: all 0.2s ease 0.2s;
  transform: scale(1);
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__body {
  transform: scale(0);
  transition: all 0.3s ease 0s;
  background-color: #fff;
  width: 100%;
  max-width: 630px;
  border: 1px solid #e2e8f0;
  border-radius: 2px;
  box-shadow: 0 8px 13px -3px rgba(0, 0, 0, 0.07);
}
.modal__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 2px solid rgb(117, 117, 117);
  background-color: rgba(223, 223, 223, 0.8235294118);
  border-radius: 8px;
  transition: 0.2s;
  transform: translate(50%, -50%);
}
.modal__close span {
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: rgb(85, 83, 83);
  transition: 0.2s;
  left: 50%;
}
.modal__close span:first-child {
  transform: translateX(-50%) rotate(45deg);
  top: 12px;
}
.modal__close span:last-child {
  transform: translateX(-50%) rotate(-45deg);
  top: 12px;
}
.modal__close:hover {
  border: 2px solid red;
}
.modal__close:hover span {
  background-color: red;
}
.modal__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 25px;
  border: 1px solid #e2e8f0;
}
.modal__header_auto {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.modal__header_button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.modal__header_button-prev .icon {
  stroke: #000;
  transform: rotate(180deg);
}
.modal__header_button-prev:hover .icon {
  stroke: #3c50e0;
}
.modal__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #1c2434;
}
.modal__sub-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #1c2434;
}
.modal__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 0;
  padding-bottom: 0;
}
.modal__block_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 25px 25px 25px;
  border-bottom: 1px solid #e2e8f0;
}
.modal__block_item:last-child {
  border-bottom: none;
}
.modal__block_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.modal__block_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 186px));
  gap: 10px;
  max-height: 240px;
  overflow-y: auto;
  position: relative;
}
.modal__block_grid:has(.not-data) {
  height: 50px;
}
.modal__block_grid .not-data {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #64748b;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}
.modal__block_grid-item {
  border: 2px solid #e2e8f0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 15px 20px;
}
.modal__block_grid-item .item-num {
  border-radius: 22px;
  background: #eee;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
  color: #212b36;
}
.modal__block_grid-item .item-info {
  margin-top: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #64748b;
  cursor: pointer;
}
.modal__block_grid-item .item-more-detailed {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #212b36;
}
.modal__block_grid-item .item-more-detailed:hover {
  text-decoration: none;
}
.modal__block_img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #e2e8f0;
  border-radius: 4px;
  padding: 40px 30px;
  height: 400px;
}
.modal__block_grid-50 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
}
.modal__form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}
.modal__form_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal__form_item > span {
  font-weight: 500;
  font-size: 14px;
  color: #212b36;
}
.modal__form_input {
  height: 50px;
  padding: 10px 20px;
  color: #212b36;
}
.modal__passport {
  display: flex;
  gap: 25px;
}
.modal__passport-content {
  flex: 1 1 66.66%;
  padding: 15px 20px;
}
.modal__passport-content, .modal__passport-photo {
  border: 1.5px solid #e2e8f0;
  border-radius: 4px;
}
.modal__passport-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 10px;
}
.modal__passport-form_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal__passport-form_item > span {
  font-weight: 500;
  font-size: 12px;
  color: #4f5b67;
}
.modal__passport-photo {
  flex: 1 1 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.modal__passport-photo img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.modal__actions {
  padding: 0 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__actions_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border-radius: 4px;
  padding: 12px 25px;
  background-color: #f1f5f9;
  font-weight: 500;
  font-size: 16px;
  line-height: 155%;
  color: #3c50e0;
  transition: 0.2s;
}
.modal__actions_button .icon {
  stroke: currentColor;
}
.modal__actions_button:hover {
  background-color: #d4e4f5;
}
.modal__actions_button:active {
  opacity: 0.8;
}
.modal__footer {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
  gap: 20px;
  border-top: 1.5px solid #e2e8f0;
}
.modal__upload {
  height: 400px;
}
.modal__upload_lable {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px dashed #3c50e0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 40px 30px;
  background-color: eff4fb;
  transition: 0.2s;
}
.modal__upload_lable .block-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #e2e8f0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__upload_lable .block-icon .icon {
  width: 28px;
  height: 28px;
  fill: #3c50e0;
}
.modal__upload_lable .text {
  font-weight: 500;
  font-size: 15px;
  line-height: 145%;
  text-align: center;
}
.modal__upload_lable .text span {
  color: #3c50e0;
}
.modal__upload_lable input {
  display: none;
}
.modal__upload_lable img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.modal__upload_lable._is-drag {
  box-shadow: 0 0 10px 2px rgba(60, 79, 224, 0.4);
}
.modal__upload_lable._is-load .block-icon,
.modal__upload_lable._is-load .text {
  display: none;
}
.modal__upload_lable._error {
  box-shadow: 0 0 10px 2px rgba(224, 60, 60, 0.4);
  border-color: #d42424;
}
.modal__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.modal__box_content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1.5px solid #e2e8f0;
  border-radius: 4px;
  overflow-y: auto;
  height: 280px;
}
.modal__box_content::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.modal__box_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding-bottom: 30px;
}
.modal__box_list:has(.not-data) {
  height: 100%;
}
.modal__box_list .not-data {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #64748b;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}
.modal__box_row {
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
}
.modal__box_row .date {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: right;
  color: #64748b;
}
.modal__box_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 10px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 4px;
  background-color: #fff;
  border: 1.5px solid #e2e8f0;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 4px;
}
.modal__box_footer .button-show-all {
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: justify;
  color: #64748b;
}
.modal__box_footer .button-show-all:hover {
  text-decoration: none;
}

.modal-auth {
  transition: 0s;
}
.modal-auth::before {
  transition: 0s;
  background-color: #1c2434;
}
.modal-auth .modal__body {
  transition: 0s;
  padding: 50px;
  max-width: 530px;
  border-radius: 2px;
  border: 1px solid #e2e8f0;
}
.modal-auth .modal__body h2 {
  font-weight: 700;
  font-size: 33px;
  line-height: 135%;
  color: #212b36;
}
.modal-auth .form-authorization {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal-auth .form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-auth .form-item > span {
  font-weight: 500;
  font-size: 16px;
  color: #1c2434;
}
.modal-auth .wp-input {
  width: 100%;
}
.modal-auth .input {
  border-radius: 8px;
}
.modal-auth .button {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}

.tingle-modal {
  background: rgba(0, 0, 0, 0.3);
  z-index: 14;
  padding: 25px 10px;
  overflow-y: auto;
}
.tingle-modal.modal-auth {
  background: #1c2434;
}
.tingle-modal .tingle-modal-box {
  width: 100%;
  max-width: 630px;
}
.tingle-modal .tingle-modal-box__content {
  padding: 0;
}
.tingle-modal .modal__body {
  transform: scale(1);
  max-width: none;
}
.tingle-modal .mySelect {
  font-weight: 500;
  font-size: 16px;
}
.tingle-modal .mySelect._select .mySelect__input .icon-arrow {
  transform: translate(0, -4px) rotate(0);
}
.tingle-modal .mySelect__input {
  height: 50px;
}
.tingle-modal .mySelect__input[data-value="0"] {
  background-color: #ffdbdb;
  color: #d42424;
}
.tingle-modal .mySelect__input[data-value="0"]::before {
  content: "✕";
}
.tingle-modal .mySelect__input[data-value="1"] {
  background-color: #cff1e6;
  color: #0b704e;
}
.tingle-modal .mySelect__input[data-value="1"]::before {
  content: "✓";
}
.tingle-modal .mySelect__input .icon-arrow {
  width: 18px;
  height: 10px;
  transform: translate(0, -4px) rotate(180deg);
}
.tingle-modal .mySelect__input > span {
  flex: 1 1 auto;
}
.tingle-modal .mySelect__list {
  padding: 8px 10px;
  box-shadow: 0 3px 6px rgba(128, 128, 128, 0.4);
}
.tingle-modal .mySelect__option {
  padding: 12px 15px;
  border-radius: 2px;
}
.tingle-modal .mySelect__option:hover {
  background-color: #f1f5f9;
}
.tingle-modal .table-span-price {
  color: #0b704e;
  font-weight: 500;
  font-size: 14px;
  background-color: #cff1e6;
  border-radius: 22px;
  padding: 6px 10px;
  line-height: 100%;
}
.tingle-modal .table-span-agrid {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #212b36;
  border-radius: 22px;
  padding: 6px 10px;
  background-color: #eee;
}

._my-accordion {
  overflow: hidden;
  transition: 0.2s;
}
._my-accordion._open ._my-accordion-content {
  opacity: 1;
}

._my-accordion-control {
  cursor: pointer;
}

._my-accordion-content {
  box-sizing: content-box;
  max-height: 0;
  opacity: 0;
  will-change: max-height;
  transition: 0.2s;
}

._my-tabs-content {
  display: none;
}
._my-tabs-content._tab-content-active {
  display: block;
}

.mySelect {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #0c1116;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.mySelect select {
  display: none;
}
.mySelect._disabled {
  opacity: 0.6;
}
.mySelect._disabled .mySelect__input {
  cursor: auto;
}
.mySelect._select .mySelect__input .icon-arrow {
  transform: rotate(0);
}
.mySelect._select .mySelect__list {
  opacity: 1;
  visibility: visible;
}
.mySelect__input {
  border: 1px solid #e1e8f0;
  border-radius: 4px;
  padding: 12px 15px;
  background-color: #fff;
  text-align: left;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.mySelect__input .icon-arrow {
  width: 12px;
  height: 8px;
  fill: #a8b0b9;
  transition: 0.2s;
  transform: rotate(180deg);
}
.mySelect__input .placeholder {
  opacity: 0.6;
}
.mySelect__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e1e8f0;
  border-radius: 4px;
  top: 100%;
  z-index: 1;
  left: 0;
  right: 0;
  transform: translate(0, 0);
  transition: 0.3s;
  box-sizing: content-box;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
}
.mySelect__list::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.mySelect__option {
  text-align: left;
  cursor: pointer;
  padding: 12px 15px;
  text-align: left;
  transition: 0.2s;
  border-bottom: 1px solid #e1e8f0;
}
.mySelect__option:last-child {
  border-bottom: none;
}
.mySelect__option:hover {
  background-color: #e1edfd;
}
.mySelect__option._option-list {
  border-bottom: none;
}
.mySelect__option._none {
  display: none;
}

.output-info {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 15;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.output-info._active {
  opacity: 1;
  visibility: visible;
}
.output-info__span {
  display: block;
  transition: 0.3s;
  font-weight: 600;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  box-sizing: content-box;
}
@media (max-width: 1600px) {
  .output-info__span {
    font-size: calc(16px + 4 * (100vw - 320px) / 1280);
  }
}
.output-info__span._error {
  background-color: #ffdbdb;
  color: #d42424;
}
.output-info__span._success {
  background-color: #cff1e6;
  color: #0b704e;
}
.output-info__span._warning {
  background-color: #fcf1d6;
  color: #efbb34;
}
.output-info__span.is-confirm {
  display: flex;
  flex-direction: column;
  color: #000;
  padding: 10px 20px;
  gap: 10px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(128, 128, 128, 0.4);
}
.output-info__span.is-confirm > div {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.output-info__span.is-confirm > div button {
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
}
.output-info__span.is-confirm > div button.confirm-yes {
  background-color: #3c50e0;
  color: #fff;
}
.output-info__span.is-confirm > div button:hover {
  box-shadow: 0 3px 3px #ccc;
  opacity: 0.8;
}
.output-info__span.is-confirm > div button:active {
  transform: translate(0, 1px);
}
@media (max-width: 479.98px) {
  .output-info {
    width: 90%;
  }
}

.wpLoader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.wpLoader._load {
  opacity: 1;
  visibility: visible;
}

.loader {
  width: 68px;
  height: 68px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #3c50e0;
  border-style: solid solid dotted;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.flatpickr-calendar {
  border-radius: 5px;
  border: 1px solid #e1e8f0;
  box-shadow: none;
  width: 350px;
}

.flatpickr-months {
  position: relative;
  z-index: 1;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border: 1px solid #e1e8f0;
}
.flatpickr-months .flatpickr-month {
  flex: 1 1 auto;
  width: 100%;
  height: auto;
  display: block;
  overflow: visible;
}
.flatpickr-months .flatpickr-month .flatpickr-current-month {
  position: relative;
  height: auto;
  left: auto;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.flatpickr-months .flatpickr-month .flatpickr-current-month select {
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #333843;
}
.flatpickr-months .flatpickr-month .numInput.cur-year {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: #333843;
}
.flatpickr-months .flatpickr-month .mySelect {
  min-width: 120px;
}
.flatpickr-months .flatpickr-month .mySelect._select .mySelect__input {
  border: 1px solid #e1e8f0;
}
.flatpickr-months .flatpickr-month .mySelect__input {
  padding: 0 10px;
  border: none;
  height: 40px;
  border: 1px solid transparent;
}
.flatpickr-months .flatpickr-month .mySelect__option {
  padding: 10px;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  position: relative !important;
  background-color: #eff2f7;
  border-radius: 8px;
  width: 40px !important;
  height: 40px !important;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  transition: 0.2s;
}
.flatpickr-prev-month svg,
.flatpickr-next-month svg {
  width: 12px !important;
  height: 12px !important;
  fill: #5c59e8;
}
.flatpickr-prev-month:hover,
.flatpickr-next-month:hover {
  background-color: #e6efff;
}
.flatpickr-prev-month:hover svg,
.flatpickr-next-month:hover svg {
  fill: #5c59e8 !important;
}

.flatpickr-innerContainer {
  padding: 15px;
}

.flatpickr-rContainer {
  width: 100%;
}

.flatpickr-weekdays {
  height: auto;
}
.flatpickr-weekdays .flatpickr-weekday {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #858d9d;
}
.flatpickr-weekdays .flatpickr-weekdaycontainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.flatpickr-days {
  width: 100%;
  margin-top: 15px;
}

.dayContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  row-gap: 15px;
  min-width: 0;
  width: 100%;
  max-width: 350px;
}

.flatpickr-day {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #4d5464;
  height: 24px;
  width: 24px;
  max-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  line-height: normal;
}
.flatpickr-day:hover {
  border-radius: 4px;
  background-color: #eff2f7;
  border-color: #c9d9f5;
}
.flatpickr-day.today {
  border-radius: 4px !important;
  border-color: #d5dff1;
}
.flatpickr-day.today:hover {
  border-color: #c9d9f5;
  background-color: #eff2f7;
  color: #4d5464;
}
.flatpickr-day.inRange, .flatpickr-day.nextMonthDay.inRange {
  box-shadow: -12px 0 0 #eff2f7, 12px 0 0 #eff2f7;
  background-color: #eff2f7 !important;
  border: none;
}
.flatpickr-day.startRange {
  box-shadow: 10px 0 0 #eff2f7 !important;
}
.flatpickr-day.endRange {
  box-shadow: -10px 0 0 #eff2f7 !important;
}
.flatpickr-day.nextMonthDay.inRange {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange {
  border-radius: 4px !important;
  background: #3c50e0 !important;
  z-index: 1;
  color: #fff;
  border: none !important;
}
.flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover {
  background: #3c50e0;
  color: #fff;
}

.main {
  flex: 1 1 auto;
  position: relative;
}
.main__body {
  width: 100%;
}
.main__content {
  display: none;
  flex-direction: column;
  gap: 30px;
}
.main__content._active {
  display: flex;
}
.main__filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 1600px) {
  .main__filter {
    gap: calc(10px + 10 * (100vw - 320px) / 1280);
  }
}
.main__date-filter {
  position: relative;
  min-width: 260px;
}
.main__date-filter .icon {
  width: 16px;
  height: 16px;
  fill: #a8b0b9;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
}
.main__date-filter input {
  background-color: #fff;
  border: 1px solid #e1e8f0;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  color: #0c1116;
  width: 100%;
  padding-left: 35px;
}
@media (max-width: 478.98px) {
  .main__date-filter {
    width: 100%;
  }
}
.main__selects-filter {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 478.98px) {
  .main__selects-filter {
    width: 100%;
  }
  .main__selects-filter .select-filter-main {
    width: 100%;
  }
}
.main__flex {
  width: 100%;
  display: flex;
  gap: 30px;
}
.main__block {
  border: 1px solid #e1e8f0;
  border-radius: 5px;
  background-color: #fff;
  padding: 30px;
}

.sales-funnel {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sales-funnel__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.sales-funnel__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #373f47;
}
.sales-funnel__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sales-funnel__content img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.table {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
}
.table .ag-root-wrapper {
  border-radius: 0 0 10px 10px;
  border: 1px solid #e1e8f0;
}
.table .ag-header-row {
  border-color: #e1e8f0;
}
.table .ag-row {
  border-color: #e1e8f0;
}
.table .ag-paging-panel {
  border-color: #e1e8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
}
.table .ag-header-cell,
.table .ag-header-group-cell {
  padding-left: 15px;
  padding-right: 15px;
}
.table .ag-header-cell-text {
  font-weight: 500;
  font-size: 12px;
  text-align: justify;
  color: #4f5b67;
}
.table .ag-cell {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #212b36;
}
.table .ag-cell:focus,
.table .ag-cell:focus-within {
  outline: none;
  box-shadow: none;
  border-color: transparent !important;
}
.table .table-span-price {
  color: #0b704e;
  font-weight: 500;
  font-size: 14px;
  background-color: #cff1e6;
  border-radius: 22px;
  padding: 6px 10px;
  line-height: 100%;
}
.table .table-span-agrid {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #212b36;
  border-radius: 22px;
  padding: 6px 10px;
  background-color: #eee;
}
.table .table-p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.table .table-p .icon {
  width: 15px;
  height: 15px;
  fill: #212b36;
}
.table .table-p .icon.icon-profile {
  fill: #a8b0b9;
}
.table__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  gap: 20px;
  border: 1px solid #e1e8f0;
  border-bottom: none;
}
.table__form {
  display: flex;
  gap: 10px;
  flex: 1 1 auto;
}
.table__form .wp-input .icon-search {
  width: 15px;
  height: 15px;
}
.table__form .wp-input.wp-input-search {
  max-width: 580px;
  width: 100%;
}
.table__form .input-table-search {
  padding: 5px 15px;
  height: 40px;
}
.table__buttuns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-table-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 100%;
  height: 100%;
}
.button-table-actions span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #a8b0b9;
  transition: 0.2s;
}
.button-table-actions .icon {
  display: none;
  width: 25px;
  height: 25px;
  fill: #3c50e0;
}
.button-table-actions:hover span {
  background-color: #3c50e0;
}
.button-table-actions._active span {
  background-color: #3c50e0;
}
.button-table-actions._edit span {
  display: none;
}
.button-table-actions._edit .icon {
  display: block;
}

.table-pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}
.table-pagination__button-arrow {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-pagination__button-arrow .icon {
  stroke: #6c7288;
  fill: none;
  width: 10px;
  height: 15px;
  transition: 0.2s;
}
.table-pagination__button-arrow:hover .icon {
  stroke: #3c50e0;
  transform: scale(1.1);
}
.table-pagination__pages {
  display: flex;
  align-items: center;
}
.table-pagination__pages li {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  color: #606783;
  font-family: "Satoshi", sans-serif;
}
.table-pagination__button-page {
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.table-pagination__button-page::after {
  content: attr(data-page);
}
.table-pagination__button-page:hover {
  background-color: #f1f5f9;
}
.table-pagination__button-page._active {
  background-color: #3c50e0;
  color: #fff;
}

.warehouse {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.warehouse__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.warehouse__types {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.warehouse__type {
  padding: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #e1e8f0;
  border-radius: 2px;
  color: #212b36;
  transition: 0.2s;
}
.warehouse__type .circle {
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: relative;
  border-radius: 50%;
  flex-shrink: 0;
  transform: translate(0, 1.5px);
}
.warehouse__type .circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.warehouse__type .name {
  font-weight: 500;
  font-size: 14px;
}
.warehouse__type[data-rented="0"] .circle::after {
  background-color: #11b880;
}
.warehouse__type[data-rented="0.4"] .circle::after {
  background-color: #e976e1;
}
.warehouse__type[data-rented="0.25"] .circle::after {
  background-color: #3b50df;
}
.warehouse__type[data-rented="0.5"] .circle::after {
  background-color: #ff7628;
}
.warehouse__type[data-rented="1"] .circle::after {
  background-color: #dc3545;
}
.warehouse__type[data-rented="0.75"] .circle::after {
  background-color: #efbb34;
}
.warehouse__type:hover {
  border-color: #3b50df;
}
.warehouse__type._active {
  background-color: #3c50e0;
  color: #fff;
}
.warehouse__filters {
  display: flex;
  gap: 10px;
}
.warehouse__button {
  background-color: #fff;
}
.warehouse__wrap-scheme {
  display: none;
}
.warehouse__wrap-scheme .scheme {
  width: 100%;
  height: 100%;
}
.warehouse__wrap-scheme._active {
  display: block;
}
.warehouse__svg-cell {
  cursor: pointer;
}
.warehouse__svg-cell[data-rented="0"] rect {
  fill: #cff1e6;
}
.warehouse__svg-cell[data-rented="0.4"] rect {
  fill: #f1cfef;
}
.warehouse__svg-cell[data-rented="0.25"] rect {
  fill: #d8dcf9;
}
.warehouse__svg-cell[data-rented="0.5"] rect {
  fill: #fab893;
}
.warehouse__svg-cell[data-rented="1"] rect {
  fill: #ffdbdb;
}
.warehouse__svg-cell[data-rented="0.75"] rect {
  fill: #fcf1d6;
}
.warehouse__svg-cell[data-rented]:hover {
  opacity: 0.5;
}

.widgets {
  display: grid;
  gap: 30px;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media (max-width: 1600px) {
  .widgets {
    gap: calc(10px + 20 * (100vw - 320px) / 1280);
  }
}
.widgets__item {
  border: 1px solid #e1e8f0;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1615px) {
  .widgets__item {
    padding: 20px 15px;
  }
}
.widgets__item_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.widgets__item_img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.widgets__item_circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}
.widgets__item_circle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}
.widgets__item_circle::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.widgets__item_circle.green::after {
  background-color: #cff1e6;
  animation-delay: 0s;
}
.widgets__item_circle.green::before {
  background-color: #10b981;
}
.widgets__item_circle.blue::after {
  background-color: #d8dcf9;
  animation-delay: 0.2s;
}
.widgets__item_circle.blue::before {
  background-color: #3c50e0;
}
.widgets__item_circle.red::after {
  background-color: #ffdbdb;
  animation-delay: 0.4s;
}
.widgets__item_circle.red::before {
  background-color: #d42424;
}
.widgets__item_circle.yellow::after {
  background-color: #fcf1d6;
  animation-delay: 0.6s;
}
.widgets__item_circle.yellow::before {
  background-color: #efbb34;
}
.widgets__item_content {
  display: flex;
  flex-direction: column;
}
.widgets__item_content .value {
  font-weight: 700;
  font-size: 24px;
  line-height: 142%;
  color: #1c2434;
  font-family: "Satoshi", sans-serif;
}
.widgets__item_content .value sup {
  font-size: 50%;
}
.widgets__item_content .name {
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  color: #64748b;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.filter-rooms {
  max-width: 300px;
  width: 100%;
  border: 1px solid #eaecee;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
.filter-rooms__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid #e2e8f0;
}
.filter-rooms__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.filter-rooms__block_name {
  font-weight: 500;
  font-size: 13px;
  line-height: 155%;
  color: #212b36;
}
.filter-rooms__block_content {
  width: 100%;
  display: flex;
}
.filter-rooms__wp-input {
  flex: 1 1 50%;
  position: relative;
}
.filter-rooms__wp-input .pref {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  font-weight: 400;
  font-size: 15px;
  color: #64748b;
}
.filter-rooms__wp-input input {
  border: 1px solid #e2e8f0;
}
.filter-rooms__wp-input:nth-child(1) input {
  border-radius: 4px 0 0 4px;
}
.filter-rooms__wp-input:nth-child(2) input {
  border-radius: 0 4px 4px 0;
  border-left: none;
}
.filter-rooms__input {
  padding-left: 35px;
  height: 45px;
  font-weight: 700;
  font-size: 15px;
  color: #212b36;
  width: 100%;
}
.filter-rooms__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.filter-rooms__button {
  width: 100%;
}

.dashboards__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.dashboards__table._open .dashboards__table-toggle .icon {
  transform: rotate(0);
}
.dashboards__table-toggle {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #373f47;
  gap: 10px;
}
.dashboards__table-toggle .icon {
  fill: #717d8a;
  width: 10px;
  height: 5px;
  transition: 0.2s;
  transform: rotate(180deg);
}
.dashboards__table-toggle._active .icon {
  transform: rotate(180deg);
}