.wrapper-table {
}

.table {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 5px;

	.table-sales-channels-edit {
		.ag-root-wrapper {
			border: none;
		}
		.ag-header {
			border-bottom: 0;
		}

		[aria-colindex='3'],
		[aria-colindex='4'] {
			padding: 0 !important;
			border: 1px solid #efefef;
			cursor: pointer;
			.ag-header-cell-comp-wrapper {
				display: flex;
				align-items: center;
				justify-content: center;
				.btn-custom-th {
					width: 100%;
					height: 100%;
				}
			}
		}
		[aria-colindex='3'] {
			border-right: none;
		}

		.ag-row {
			border: none;
			border-top: 1px solid #f3f3f3;
		}
	}

	.ag-root-wrapper {
		border-radius: 0 0 10px 10px;
		border: 1px solid #e1e8f0;
	}

	.ag-header-row {
		border-color: #e1e8f0;
	}

	.ag-row {
		border-color: #e1e8f0;
	}

	.ag-paging-panel {
		border-color: #e1e8f0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;
		gap: 10px;
		padding: 10px 20px;
		& > * {
			margin: 0;
		}
		.wrap-buttons {
			display: flex;
			gap: 10px;
			margin-left: auto;
			.button {
				height: 40px;
			}
		}
		@media (max-width: $md4) {
			align-items: flex-start;
			flex-direction: column;
			height: 90px;
		}
	}

	.ag-header-cell,
	.ag-header-group-cell {
		padding-left: 15px;
		padding-right: 15px;
		@media (max-width: $md2) {
			padding-left: 10px;
			padding-right: 10px;
			&:first-child {
				padding-left: 20px;
			}
		}
	}

	.ag-header-cell-text {
		font-weight: 500;
		font-size: 12px;
		text-align: justify;
		color: #4f5b67;
	}

	.ag-header-cell {
	}

	.ag-cell {
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 14px;
		color: #212b36;

		.wrap-photo-report {
			width: 100%;
			height: 100%;
			display: flex;
			gap: 10px;
			> div {
				flex: 0 1 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 2px;
				overflow: hidden;
				img {
					max-width: 100%;
					max-height: 100%;
					object-fit: contain;
				}
			}
		}

		@media (max-width: $md2) {
			padding-left: 10px;
			padding-right: 10px;
			&:first-child {
				padding-left: 20px;
			}
		}
	}

	.ag-cell:focus,
	.ag-cell:focus-within {
		outline: none;
		box-shadow: none;
		border-color: transparent !important;
	}

	.table-span-price {
		color: $green;
		font-weight: 500;
		font-size: 14px;
		background-color: $green-light;
		border-radius: 22px;
		padding: 6px 10px;
		line-height: 100%;
	}

	.table-span-agrid {
		font-weight: 500;
		font-size: 14px;
		line-height: 100%;
		color: #212b36;
		border-radius: 22px;
		padding: 6px 10px;
		background-color: #eee;
	}

	.span-rooms-id {
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
		max-width: 100%;
	}

	.table-p {
		display: flex;
		align-items: center;
		gap: 8px;
		.icon {
			width: 15px;
			height: 15px;
			fill: #212b36;
			flex-shrink: 0;
			&.icon-profile {
				fill: #a8b0b9;
			}
		}
	}

	.days-left-p {
		position: relative;
		&._payments-soon {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 100%;
			background-color: $red;
			width: 6px;
			height: 6px;
			border-radius: 50%;
		}}
	}

	&.table-clients {
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 30px;
		gap: 20px;
		border: 1px solid #e1e8f0;
		border-bottom: none;
		@media (max-width: $md2) {
			padding: 20px;
			gap: 10px;
		}
		@media (max-width: $md5) {
			flex-direction: column;
		}
		@media (max-width: $md6) {
			padding: 10px;
		}
	}

	&__form {
		display: flex;
		gap: 10px;
		flex: 1 1 auto;
		.wp-input {
			.icon-search {
				width: 15px;
				height: 15px;
			}
			&.wp-input-search {
				max-width: 580px;
				width: 100%;
			}
		}
		.input-table-search {
			padding: 5px 15px;
			height: 40px;
		}

		.mySelect {
			flex-shrink: 0;
		}

		@media (max-width: $md3) {
			width: 100%;
		}
	}

	&__buttuns {
		display: flex;
		align-items: center;
		gap: 10px;
		@media (max-width: $md5) {
			width: 100%;
		}
	}

	&__button {
		@media (max-width: $md5) {
			flex: 1 1 auto;
			white-space: nowrap;
			padding: 5px 10px;
			justify-content: space-between;
		}
	}
	// &__button {	}

	// &__content {}
	.table-buttons {
		display: flex;
		gap: 10px;
		justify-content: flex-end;
		margin-left: auto;
	}
}

.button-table-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
	width: 100%;
	height: 100%;
	span {
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #a8b0b9;
		transition: 0.2s;
	}

	.icon {
		display: none;
		width: 25px;
		height: 25px;
		fill: $blue;
	}

	&:hover {
		span {
			background-color: $blue;
		}
	}

	&._active {
		span {
			background-color: $blue;
		}
	}

	&._edit {
		span {
			display: none;
		}
		.icon {
			display: block;
		}
	}
}

.table-pagination {
	display: flex;
	align-items: center;
	gap: 10px;

	&__button-arrow {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			stroke: #6c7288;
			fill: none;
			width: 10px;
			height: 15px;
			transition: 0.2s;
		}

		&:hover {
			.icon {
				stroke: $blue;
				transform: scale(1.1);
			}
		}
	}

	&__pages {
		display: flex;
		align-items: center;
		li {
			width: 30px;
			height: 30px;
			border-radius: 3px;
			overflow: hidden;

			font-weight: 500;
			font-size: 14px;
			color: #606783;
			font-family: $second-family;
		}
	}

	&__button-page {
		width: 100%;
		height: 100%;
		transition: 0.2s;

		&::after {
			content: attr(data-page);
		}

		&:hover {
			background-color: #f1f5f9;
		}

		&._active {
			background-color: $blue;
			color: #fff;
		}
	}
}
