.flatpickr-calendar {
	border-radius: 5px;
	border: 1px solid #e1e8f0;
	box-shadow: none;
	width: 350px;
	&.open {
		z-index: 15;
	}
}

.flatpickr-months {
	position: relative;
	z-index: 1;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
	border: 1px solid #e1e8f0;
	.flatpickr-month {
		flex: 1 1 auto;
		width: 100%;
		height: auto;
		display: block;
		overflow: visible;
		.flatpickr-current-month {
			position: relative;
			height: auto;
			left: auto;
			width: 100%;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 5px;
			select {
				padding: 0;
				font-weight: 700;
				font-size: 14px;
				letter-spacing: 0.01em;
				color: #333843;
			}
		}
		.numInput.cur-year {
			font-weight: 700;
			font-size: 14px;
			line-height: 143%;
			letter-spacing: 0.01em;
			color: #333843;
		}
		.mySelect {
			min-width: 130px;
			&._select {
				.mySelect__input {
					border: 1px solid #e1e8f0;
				}
			}

			&__input {
				padding: 0 10px;
				border: none;
				height: 40px;
				border: 1px solid transparent;
			}

			&__option {
				padding: 10px;
			}
		}
	}
}

.flatpickr-prev-month,
.flatpickr-next-month {
	position: relative !important;
	background-color: #eff2f7;
	border-radius: 8px;
	width: 40px !important;
	height: 40px !important;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 !important;
	transition: 0.2s;

	svg {
		width: 12px !important;
		height: 12px !important;
		fill: #5c59e8;
	}

	&:hover {
		background-color: #e6efff;
		svg {
			fill: #5c59e8 !important;
		}
	}
}

.flatpickr-innerContainer {
	padding: 15px;
}

.flatpickr-rContainer {
	width: 100%;
}

.flatpickr-weekdays {
	height: auto;
	.flatpickr-weekday {
		font-weight: 500;
		font-size: 14px;
		letter-spacing: 0.01em;
		color: #858d9d;
	}
	.flatpickr-weekdaycontainer {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		justify-items: center;
	}
}

.flatpickr-days {
	width: 100%;
	margin-top: 15px;
}

.dayContainer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	justify-items: center;
	row-gap: 15px;
	min-width: 0;
	width: 100%;
	max-width: 350px;
}

.rangeMode {
	.flatpickr-day {
		// margin-top: 0;
	}
}

.flatpickr-day {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.01em;
	color: #4d5464;
	height: 24px;
	width: 24px;
	max-width: 24px;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 0;
	line-height: normal;

	&:hover {
		border-radius: 4px;
		background-color: #eff2f7;
		border-color: #c9d9f5;
	}

	&.today {
		border-radius: 4px !important;
		border-color: #d5dff1;
		&:hover {
			border-color: #c9d9f5;
			background-color: #eff2f7;
			color: #4d5464;
		}
	}

	&.inRange,
	&.nextMonthDay.inRange {
		box-shadow:
			-12px 0 0 #eff2f7,
			12px 0 0 #eff2f7;
		background-color: #eff2f7 !important;
		border: none;
	}

	&.startRange {
		box-shadow: 10px 0 0 #eff2f7 !important;
	}

	&.endRange {
		box-shadow: -10px 0 0 #eff2f7 !important;
	}

	&.nextMonthDay.inRange {
		background: #e6e6e6;
		border-color: #e6e6e6;
	}

	&.selected,
	&.startRange,
	&.endRange {
		border-radius: 4px !important;
		background: #3c50e0 !important;
		z-index: 1;
		color: #fff;
		border: none !important;
		&:hover {
			background: #3c50e0;
			color: #fff;
		}
	}
}
