<div class='modal__body'>
  <div class="modal__header">
    <div class="modal__header_auto">
      <h3 class="modal__title">Создание договора:</h3>
    </div>
  </div>
  <div class="modal__rendering">
    <div class="modal__rendering_content">
      <div class="button-container step-content button-container-1" style="display:flex;gap:10px;width:100%;flex-wrap:wrap;">
        <button class="button select-btn" data-value="old_client" style="flex: 1 1 auto;">Старый клиент</button>
        <button class="button select-btn" data-value="new_client" style="flex: 1 1 auto;">Новый клиент</button>
      </div>
      <form class="modal__form form-old-client step-content _none">
        <div class="modal__form_item grid-column-2">
          <span>ФИО</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="fullname" data-render="fullname" autocomplete="off"
              autofocus>
            <ul class="dropdown-list"></ul>
          </div>
        </div>
        <div class="modal__form_item">
          <span>Номер ячейки:</span>
          <div class="modal__form_wp-input wp-input">
            <div class="custom-input select-room-id" disabled></div>
          </div>
        </div>
        <div class="modal__form_item">
          <span>Номер договора</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="agrid" autocomplete="off" disabled>
          </div>
        </div>
        <div class="modal__form_item">
          <span>Стоимость аренды ячеек в договоре</span>
          <div class="modal__form_wp-input wp-input">
            <input type="number" class="modal__form_input input hide-arrow" name="price" autocomplete="off"
              inputmode="numeric" disabled>
          </div>
        </div>
        <div class="modal__form_item">
          <span>Дата начала договора</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="agrbegdate" autocomplete="off" disabled>
          </div>
        </div>
        <div class="modal__form_item">
          <span>Дата окончания договора</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="agrenddate" autocomplete="off" disabled>
          </div>
        </div>
        <div class="modal__form_item">
          <span>Способ аренды ячеек в договоре</span>
          <label class="wrapper-checkbox">
            <input class="input-checkbox" type="radio" name="week_or_month" value="week"
              id="modal-create-agreement-radio-week_or_month" checked disabled>
            <label class="label-checkbox" for="modal-create-agreement-radio-week_or_month">
              <svg class="icon">
                <use xlink:href="img/svg/sprite.svg#check-3"></use>
              </svg>
            </label>
            <p>В неделю</p>
          </label>
          <label class="wrapper-checkbox">
            <input class="input-checkbox" type="radio" name="week_or_month" value="month"
              id="modal-create-agreement-radio-week_or_month-1" disabled>
            <label class="label-checkbox" for="modal-create-agreement-radio-week_or_month-1">
              <svg class="icon">
                <use xlink:href="img/svg/sprite.svg#check-3"></use>
              </svg>
            </label>
            <p>В месяц</p>
          </label>
        </div>
        <div class="modal__form_item">
          <span>Стоимость дополнительного оборудования</span>
          <div class="modal__form_wp-input wp-input">
            <input type="number" class="modal__form_input input hide-arrow" name="equipment_price" inputmode="numeric"
              autocomplete="off" disabled>
          </div>
        </div>
        <div class="modal__form_item">
          <span>Метрика размера</span>
          <label class="wrapper-checkbox">
            <input class="input-checkbox" type="radio" name="m2_or_m3" value="m2"
              id="modal-create-agreement-radio-m2_or_m3" checked disabled>
            <label class="label-checkbox" for="modal-create-agreement-radio-m2_or_m3">
              <svg class="icon">
                <use xlink:href="img/svg/sprite.svg#check-3"></use>
              </svg>
            </label>
            <p>Площадь (m2)</p>
          </label>
          <label class="wrapper-checkbox">
            <input class="input-checkbox" type="radio" name="m2_or_m3" value="m3"
              id="modal-create-agreement-radio-m2_or_m3-1" disabled>
            <label class="label-checkbox" for="modal-create-agreement-radio-m2_or_m3-1">
              <svg class="icon">
                <use xlink:href="img/svg/sprite.svg#check-3"></use>
              </svg>
            </label>
            <p>Объем (m3)</p>
          </label>
        </div>
        <button class="button grid-column-2" type="submit" disabled>Создать договор</button>
      </form>
      <div class="button-container button-container-2 step-content _none" style="display:flex;gap:10px;width:100%;flex-wrap:wrap;">
        <button class="button select-btn" data-value="f" style="flex: 1 1 auto;">Физическое лицо</button>
        <button class="button select-btn" data-value="u" style="flex: 1 1 auto;">Юридическое лицо</button>
      </div>
      <form class="modal__form form-f-client step-content _none">
        <div class="modal__form_item">
          <span>Число мес.</span>
          <div class="modal__form_wp-input wp-input">
            <input type="number" class="modal__form_input input hide-arrow" name="num_monthes" autocomplete="off"
              inputmode="numeric">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Номер ячейки:</span>
          <div class="modal__form_wp-input wp-input">
            <div class="custom-input select-room-id"></div>
          </div>
        </div>
        <h4 class="title-form grid-column-2">Данные клиента</h4>
        <div class="modal__form_item">
          <span>Фамилия</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="familyname" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Имя</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="firstname" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Отчество</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="patronymic" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Дата рождения</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="birthday" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Номер телефона</span>
          <div class="modal__form_wp-input wp-input">
            <input type="tel" class="modal__form_input input" name="username" autocomplete="off" inputmode="tel">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Почта</span>
          <div class="modal__form_wp-input wp-input">
            <input type="email" class="modal__form_input input" name="email" autocomplete="off" inputmode="email">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Адрес регистрации</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="address" autocomplete="off">
          </div>
        </div>
        <h4 class="title-form grid-column-2">Паспортные данные</h4>
        <div class="modal__form_item">
          <span>Серия паспорта</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="series" autocomplete="off" inputmode="numeric">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Номер паспорта</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="no" autocomplete="off" inputmode="numeric">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Дата выдачи</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="issue_date" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Кем выдан</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="issued_by" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Код подразделения</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="subdivision" autocomplete="off"
              inputmode="numeric">
          </div>
        </div>
        <button class="button grid-column-2" type="submit">Создать договор</button>
      </form>
      <form class="modal__form form-u-client step-content _none">
        <div class="modal__form_item">
          <span>Номер договора</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="agrid" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Номер ячейки:</span>
          <div class="modal__form_wp-input wp-input">
            <div class="custom-input select-room-id"></div>
          </div>
        </div>
        <div class="modal__form_item">
          <span>Дата начала договора</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="agrbegdate" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Дата окончания договора</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="agrenddate" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Стоимость аренды ячеек в договоре</span>
          <div class="modal__form_wp-input wp-input">
            <input type="number" class="modal__form_input input hide-arrow" name="price" autocomplete="off"  inputmode="numeric">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Способ аренды ячеек в договоре</span>
          <label class="wrapper-checkbox">
            <input class="input-checkbox" type="radio" name="week_or_month" value="week"
              id="modal-create-agreement-radio-week_or_month-2" checked>
            <label class="label-checkbox" for="modal-create-agreement-radio-week_or_month-2">
              <svg class="icon">
                <use xlink:href="img/svg/sprite.svg#check-3"></use>
              </svg>
            </label>
            <p>В неделю</p>
          </label>
          <label class="wrapper-checkbox">
            <input class="input-checkbox" type="radio" name="week_or_month" value="month"
              id="modal-create-agreement-radio-week_or_month-3">
            <label class="label-checkbox" for="modal-create-agreement-radio-week_or_month-3">
              <svg class="icon">
                <use xlink:href="img/svg/sprite.svg#check-3"></use>
              </svg>
            </label>
            <p>В месяц</p>
          </label>
        </div>
        <div class="modal__form_item">
          <span>Стоимость дополнительного оборудования</span>
          <div class="modal__form_wp-input wp-input">
            <input type="number" class="modal__form_input input hide-arrow" name="equipment_price" autocomplete="off"
              inputmode="numeric">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Метрика размера</span>
          <label class="wrapper-checkbox">
            <input class="input-checkbox" type="radio" name="m2_or_m3" value="m2"
              id="modal-create-agreement-radio-m2_or_m3-2" checked>
            <label class="label-checkbox" for="modal-create-agreement-radio-m2_or_m3-2">
              <svg class="icon">
                <use xlink:href="img/svg/sprite.svg#check-3"></use>
              </svg>
            </label>
            <p>Площадь (m2)</p>
          </label>
          <label class="wrapper-checkbox">
            <input class="input-checkbox" type="radio" name="m2_or_m3" value="m3"
              id="modal-create-agreement-radio-m2_or_m3-3">
            <label class="label-checkbox" for="modal-create-agreement-radio-m2_or_m3-3">
              <svg class="icon">
                <use xlink:href="img/svg/sprite.svg#check-3"></use>
              </svg>
            </label>
            <p>Объем (m3)</p>
          </label>
        </div>
        <h4 class="title-form grid-column-2">Данные клиента</h4>
        <div class="modal__form_item">
          <span>Наименование юр.лица</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="fullname" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Инн</span>
          <div class="modal__form_wp-input wp-input">
            <input type="number" class="modal__form_input input hide-arrow" name="inn" autocomplete="off"  inputmode="numeric">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Адрес регистрации</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="address" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Кпп</span>
          <div class="modal__form_wp-input wp-input">
            <input type="number" class="modal__form_input input hide-arrow" name="kpp" autocomplete="off"  inputmode="numeric">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Номер телефона</span>
          <div class="modal__form_wp-input wp-input">
            <input type="tel" class="modal__form_input input" name="username" autocomplete="off" inputmode="tel">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Почта</span>
          <div class="modal__form_wp-input wp-input">
            <input type="email" class="modal__form_input input" name="email" autocomplete="off"  inputmode="email">
          </div>
        </div>
        <h4 class="title-form grid-column-2">Финансовая информация</h4>
        <div class="modal__form_item">
          <span>Наименование банка</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input" name="bank" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Номер расчетного счета</span>
          <div class="modal__form_wp-input wp-input">
            <input type="number" class="modal__form_input input hide-arrow" name="rs" autocomplete="off"  inputmode="numeric">
          </div>
        </div>
        <div class="modal__form_item">
          <span>БИК</span>
          <div class="modal__form_wp-input wp-input">
            <input type="number" class="modal__form_input input hide-arrow" name="bik" autocomplete="off"  inputmode="numeric">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Номер корреспондентского счета</span>
          <div class="modal__form_wp-input wp-input">
            <input type="number" class="modal__form_input input hide-arrow" name="ks" autocomplete="off"  inputmode="numeric">
          </div>
        </div>
        <button class="button grid-column-2" type="submit">Создать договор</button>
      </form>
    </div>
    <button class="button-back button-table _none">
      <svg class="icon icon-arrow">
        <use xlink:href="img/svg/sprite.svg#arrow"></use>
      </svg>
      <span>Назад</span>
    </button>
  </div>
  <div class="modal__footer"></div>
</div>