$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1600;
$maxWidthModal: 630px;

$md1: ($maxWidthContainer + 15) + px;
$md2: 1200.98px;
$md3: 992.98px;
$md4: 768.98px;
$md5: 576.98px;
$md6: 478.98px;
$md7: 379.98px;

$mdm1: ($maxWidthModal + 15);

$color_main: #0c1116;
$blue: #3c50e0;
$blue-light: #d8dcf9;
$red: #d42424;
$red-light: #ffdbdb;
$green: #0b704e;
$green-light: #cff1e6;
$yellow: #efbb34;
$yellow-light: #fcf1d6;

$background_color: #ffffff;
$font-size: 16px;
$fontFamily: 'Manrope', sans-serif;
$second-family: 'Satoshi', sans-serif;
