.main__content[data-content='dashboards/finance'] {
	.widgets {
		@media (min-width: $md3) {
			grid-template-columns: repeat(3, minmax(300px, 1fr));
		}

		@media (max-width: $md4) {
			grid-template-columns: 1fr;
		}

		&__item {
			&.col-2 {
				.widgets__item_content {
					.value {
						font-size: 18px;
						@media (max-width: $md1) {
							font-size: 14px;
						}
					}
					.name {
						font-size: 13px;
					}

					@media (max-width: $md4) {
						.value {
							font-size: 18px;
						}
						.name {
							font-size: 13px;
						}
					}
				}
			}
			@media (max-width: $md5) {
				&.col-2 {
					grid-column: span 1;
					.widgets__item_content.last {
						grid-column: span 2;
						padding-left: 50px;
					}
				}
				// &:last-child {
				// 	grid-column-start: 3;
				// }
			}
		}
	}
	@media (max-width: $md3) {
		.chart__header {
			flex-direction: row;
		}
	}
}
