<header class="header">
	<div class="header__content">
		<button class="header-burger">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<div class="header__logo">
			<img src="./img/logo-black.png" alt="Лого">
		</div>
		<ul class="header__icons">
			<li class="header__icon">
				<button class="header__icon_btn icon-alert icon-notification">
					<svg class='icon icon-bell'>
						<use xlink:href='img/svg/sprite.svg#bell'></use>
					</svg>
					<span class="dot"></span>
				</button>
				<div class="notification notification--alert">
					<div class="notification__title"><span>Уведомления</span></div>
					<ul class="notification__list">
						<div class="notification__item">
							<p>Добавлен новый клиент</p>
							<span>12 Май, 2025. 14:15</span>
						</div>
						<div class="notification__item">
							<p>Внесены изменения в договор №147</p>
							<span>24 Янв, 2025. 08:37</span>
						</div>
						<div class="notification__item">
							<p>Внесены изменения в договор №147</p>
							<span>04 Окт, 2025. 19:25</span>
						</div>
					</ul>
				</div>
			</li>
			<li class="header__icon">
				<button class="header__icon_btn icon-message icon-notification is-date">
					<svg class='icon icon-message' style="fill: none;">
						<use xlink:href='img/svg/sprite.svg#message'></use>
					</svg>
					<span class="dot"></span>
				</button>
				<div class="notification notification--message">
					<div class="notification__title"><span>Сообщения</span></div>
					<ul class="notification__list">
						<div class="notification__item">
							<span>Тех. поддержка</span>
							<p>Здравствуйте, мы исправли ошибки о которых вы упоминали нам. Можете заново проверить ващ аккаунт</p>
							<span>12 Май, 2025. 14:15</span>
						</div>
						<div class="notification__item">
							<span>Тех. поддержка</span>
							<p>Здравствуйте, мы исправли ошибки о которых вы упоминали нам. Можете заново проверить ващ аккаунт</p>
							<span>24 Янв, 2025. 08:37</span>
						</div>
						<div class="notification__item">
							<span>Тех. поддержка</span>
							<p>Внесены изменения в договор №147</p>
							<span>04 Окт, 2025. 19:25</span>
						</div>
					</ul>
				</div>
			</li>
		</ul>
		<button class="header__user">
			<div class="header__user_info">
				<span class="name">Адрей Быков</span>
				<span class="email">bykov@mail.ru</span>
			</div>
			<div class="header__user_img">
				<img src="./img/ava.jpg" alt="Фото">
			</div>
			<svg class='icon icon-arrow'>
				<use xlink:href='img/svg/sprite.svg#arrow'></use>
			</svg>
		</button>
	</div>
</header>