<div class="modal modal-auth" data-special-modal="modal-auth">
	<div class="modal__content">
		<div class="modal__body">
			<h2>Авторизация</h2>
			<form class="form-authorization">
				<div class="form-item">
					<span>Телефон</span>
					<div class="wp-input">
						<input type="text" placeholder="Введите телефон" name="username" class="input">
						<svg class='icon icon-mail'>
							<use xlink:href='img/svg/sprite.svg#mail'></use>
						</svg>
					</div>
				</div>
				<div class="form-item">
					<span>Пароль</span>
					<div class="wp-input">
						<input type="password" placeholder="Введите пароль" name="password" class="input">
						<svg class='icon icon-lock-2'>
							<use xlink:href='img/svg/sprite.svg#lock-2'></use>
						</svg>
					</div>
				</div>
				<button type="submit" class="button"><span>Войти</span></button>
			</form>
		</div>
	</div>
</div>

<div class='modal modal-client' data-special-modal='modal-client'>
	<div class='modal__content'>
		<div class='modal__body'>
			<div class="modal__header">
				<div class="modal__header_auto">
					<h3 class="modal__title">Клиент №<span data-render="user_id">250</span></h3>
				</div>
				<button class="button-text blue btn-old-data modal-close" data-render="user_id" data-modal=".modal-old-client">
					<span>Старые данные</span>
					<svg class='icon icon-arrow-right-circle'>
						<use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
					</svg>
				</button>
			</div>
			<div class="modal__block">

				<div class="modal__block_item">
					<div class="modal__block_top">
						<h4 class="modal__sub-title">О клиенте:</h4>
						<button class="button-text btn-edit-client-data">
							<span class="span-edit">Редактировать</span>
							<span class="span-save">Сохранить</span>
							<svg class='icon icon-edit'>
								<use xlink:href='img/svg/sprite.svg#edit'></use>
							</svg>
							<svg class='icon icon-save'>
								<use xlink:href='img/svg/sprite.svg#save'></use>
							</svg>
						</button>
					</div>
					<form class="modal__form form-client-data">
						<div class="modal__form_item">
							<span>ФИО</span>
							<div class="modal__form_wp-input wp-input">
								<input type="text" class="modal__form_input input not-edit" name="fullname" readonly="true"
									data-render="fullname" autocomplete="off">
							</div>
						</div>
						<div class="modal__form_item">
							<span>Дата рождения</span>
							<div class="modal__form_wp-input wp-input">
								<input type="text" class="modal__form_input input not-edit" name="birthday" readonly="true"
									data-render="birthday" autocomplete="off">
							</div>
						</div>
						<div class="modal__form_item">
							<span>Номер телефона</span>
							<div class="modal__form_wp-input wp-input">
								<input type="tel" class="modal__form_input input not-edit" name="username" readonly="true"
									data-render="username" autocomplete="off" inputmode="tel">
							</div>
						</div>
						<div class="modal__form_item">
							<span>Email</span>
							<div class="modal__form_wp-input wp-input">
								<input type="email" class="modal__form_input input not-edit" name="email" readonly="true"
									data-render="email" autocomplete="off">
							</div>
						</div>
					</form>
				</div>

				<div class="modal__block_item">
					<div class="modal__block_top">
						<h4 class="modal__sub-title">Паспорт</h4>
						<button class="button-text blue modal-close" data-modal=".modal-passport">
							<span>Открыть</span>
							<svg class='icon arrow-right-circle'>
								<use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
							</svg>
						</button>
					</div>
					<div class="modal__passport">
						<div class="modal__passport-content">
							<form class="modal__passport-form">
								<div class="modal__passport-form_item">
									<span>Номер:</span>
									<div class="modal__passport-form_wp-input wp-input">
										<input type="text" name="no" class="modal__passport-form_input-passport input-passport"
											data-render="no" inputmode="tel" readonly="true">
									</div>
								</div>
								<div class="modal__passport-form_item">
									<span>Серия:</span>
									<div class="modal__passport-form_wp-input wp-input">
										<input type="text" name="series" class="modal__passport-form_input-passport input-passport"
											data-render="series" inputmode="tel" readonly="true">
									</div>
								</div>
								<div class="modal__passport-form_item">
									<span>Дата выдачи:</span>
									<div class="modal__passport-form_wp-input wp-input">
										<input type="text" name="issue_date" class="modal__passport-form_input-passport input-passport"
											data-render="issue_date" readonly="true">
									</div>
								</div>
								<div class="modal__passport-form_item">
									<span>Статус:</span>
									<div class="modal__passport-form_wp-status wp-status not-confirmed" data-render="approved">
										<div class="modal__passport-form_status status not-confirmed">
											<svg class='icon icon-cross'>
												<use xlink:href='img/svg/sprite.svg#cross'></use>
											</svg>
											<span>Не подтвержден</span>
										</div>
										<div class="modal__passport-form_status status confirmed">
											<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"
												class="icon" style="fill: none;">
												<path d="M1 6L5.66667 10.5L15 1.5" stroke-width="2" />
											</svg>
											<span>Подтвержден</span>
										</div>
									</div>
								</div>
								<div class="modal__passport-form_item">
									<span>Кем выдан:</span>
									<div class="modal__passport-form_wp-input wp-input">
										<input type="text" name="issued_by" class="modal__passport-form_input-passport input-passport"
											data-render="issued_by" readonly="true">
									</div>
								</div>
								<div class="modal__passport-form_item">
									<span>Код подразделения:</span>
									<div class="modal__passport-form_wp-input wp-input">
										<input type="text" name="subdivision" class="modal__passport-form_input-passport input-passport"
											data-render="subdivision" inputmode="tel" readonly="true">
									</div>
								</div>
							</form>
						</div>
						<div class="modal__passport-photo">
							<img src="" alt="Фото паспорта" data-render="passp_photo_link">
						</div>
					</div>
				</div>

				<div class="modal__block_item">
					<div class="modal__block_top">
						<h4 class="modal__sub-title">Договоры:</h4>
					</div>
					<div class="modal__block_grid modal-content-agreements">
					</div>
				</div>
			</div>
			<div class="modal__footer">
			</div>
		</div>
	</div>
</div>

<div class='modal modal-old-client' data-special-modal='modal-old-client'>
	<div class='modal__content'>
		<div class='modal__body'>
			<div class="modal__header">
				<div class="modal__header_auto">
					<button class="modal__header_button-prev btn-open-prev-modal modal-close" data-modal=".modal-client">
						<svg class='icon icon-arrow-right-circle'>
							<use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
						</svg>
					</button>
					<h3 class="modal__title">Старые данные</h3>
				</div>
			</div>
			<div class="modal__block">
				<div class="modal__block_item">
					<div class="modal__block_top">
						<h4 class="modal__sub-title">О клиенте:</h4>
					</div>
					<form class="modal__form form-client-data">
						<div class="modal__form_item">
							<span>ФИО</span>
							<div class="modal__form_wp-input wp-input">
								<input type="text" class="modal__form_input input not-edit" name="fullname" readonly="true"
									data-render="fullname" autocomplete="off">
							</div>
						</div>
						<div class="modal__form_item">
							<span>Дата рождения</span>
							<div class="modal__form_wp-input wp-input">
								<input type="text" class="modal__form_input input not-edit" name="birthday" readonly="true"
									data-render="birthday" autocomplete="off">
							</div>
						</div>
						<div class="modal__form_item">
							<span>Номер телефона</span>
							<div class="modal__form_wp-input wp-input">
								<input type="tel" class="modal__form_input input not-edit" name="username" readonly="true"
									data-render="username" autocomplete="off" inputmode="tel">
							</div>
						</div>
						<div class="modal__form_item">
							<span>Email</span>
							<div class="modal__form_wp-input wp-input">
								<input type="email" class="modal__form_input input not-edit" name="email" readonly="true"
									data-render="email" autocomplete="off">
							</div>
						</div>
					</form>
				</div>

				<div class="modal__block_item">
					<div class="modal__block_top">
						<h4 class="modal__sub-title">Паспорт</h4>
					</div>
					<div class="modal__passport">
						<div class="modal__passport-content">
							<form class="modal__passport-form">
								<div class="modal__passport-form_item">
									<span>Номер:</span>
									<div class="modal__passport-form_wp-input wp-input">
										<input type="text" name="no" class="modal__passport-form_input-passport input-passport"
											data-render="no" inputmode="tel" readonly="true">
									</div>
								</div>
								<div class="modal__passport-form_item">
									<span>Серия:</span>
									<div class="modal__passport-form_wp-input wp-input">
										<input type="text" name="series" class="modal__passport-form_input-passport input-passport"
											data-render="series" inputmode="tel" readonly="true">
									</div>
								</div>
								<div class="modal__passport-form_item">
									<span>Дата выдачи:</span>
									<div class="modal__passport-form_wp-input wp-input">
										<input type="text" name="issue_date" class="modal__passport-form_input-passport input-passport"
											data-render="issue_date" readonly="true">
									</div>
								</div>
								<div class="modal__passport-form_item">
									<span>Статус:</span>
									<div class="modal__passport-form_wp-status wp-status not-confirmed" data-render="approved">
										<div class="modal__passport-form_status status not-confirmed">
											<svg class='icon icon-cross'>
												<use xlink:href='img/svg/sprite.svg#cross'></use>
											</svg>
											<span>Не подтвержден</span>
										</div>
										<div class="modal__passport-form_status status confirmed">
											<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"
												class="icon" style="fill: none;">
												<path d="M1 6L5.66667 10.5L15 1.5" stroke-width="2" />
											</svg>
											<span>Подтвержден</span>
										</div>
									</div>
								</div>
								<div class="modal__passport-form_item">
									<span>Кем выдан:</span>
									<div class="modal__passport-form_wp-input wp-input">
										<input type="text" name="issued_by" class="modal__passport-form_input-passport input-passport"
											data-render="issued_by" readonly="true">
									</div>
								</div>
								<div class="modal__passport-form_item">
									<span>Код подразделения:</span>
									<div class="modal__passport-form_wp-input wp-input">
										<input type="text" name="subdivision" class="modal__passport-form_input-passport input-passport"
											data-render="subdivision" inputmode="tel" readonly="true">
									</div>
								</div>
							</form>
						</div>
						<div class="modal__passport-photo">
							<img src="" alt="Фото паспорта" data-render="passp_photo_link">
						</div>
					</div>
				</div>
			</div>
			<div class="modal__footer">
			</div>
		</div>
	</div>
</div>

<div class='modal modal-passport' data-special-modal="modal-passport">
	<div class='modal__content'>
		<div class='modal__body'>
			<div class="modal__header">
				<div class="modal__header_auto">
					<button class="modal__header_button-prev btn-open-prev-modal modal-close" data-modal=".modal-client">
						<svg class='icon icon-arrow-right-circle'>
							<use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
						</svg>
					</button>
					<h3 class="modal__title">Паспорт</h3>
				</div>
			</div>
			<div class="modal__block">
				<div class="modal__block_item">
					<div class="modal__block_top">
						<h4 class="modal__sub-title">Данные:</h4>
						<button class="button-text btn-edit-client-data">
							<span class="span-edit">Редактировать</span>
							<span class="span-save">Сохранить</span>
							<svg class='icon icon-edit'>
								<use xlink:href='img/svg/sprite.svg#edit'></use>
							</svg>
							<svg class='icon icon-save'>
								<use xlink:href='img/svg/sprite.svg#save'></use>
							</svg>
						</button>
					</div>
					<form class="modal__form form-client-data">
						<div class="modal__form_item">
							<span>Номер:</span>
							<div class="modal__form_wp-input wp-input">
								<input type="text" class="modal__form_input input not-edit" name="no" readonly="true" data-render="no"
									autocomplete="off" inputmode="tel">
							</div>
						</div>
						<div class="modal__form_item">
							<span>Серия:</span>
							<div class="modal__form_wp-input wp-input">
								<input type="text" class="modal__form_input input not-edit" name="series" readonly="true"
									data-render="series" autocomplete="off" inputmode="tel">
							</div>
						</div>
						<div class="modal__form_item">
							<span>Дата выдачи:</span>
							<div class="modal__form_wp-input wp-input">
								<input type="tel" class="modal__form_input input not-edit" name="issue_date" readonly="true"
									data-render="issue_date" autocomplete="off">
							</div>
						</div>
						<div class="modal__form_item">
							<span>Статус:</span>
							<div class="modal__form_wp-input wp-input">
								<select name="approved" data-render="approved" class="init-custom-select"
									data-special-select="select-passport">
									<option value="1">Подтвержден</option>
									<option value="0">Не подтвержден</option>
								</select>
							</div>
						</div>
						<div class="modal__form_item">
							<span>Кем выдан:</span>
							<div class="modal__form_wp-input wp-input">
								<input type="email" class="modal__form_input input not-edit" name="issued_by" readonly="true"
									data-render="issued_by" autocomplete="off">
							</div>
						</div>
						<div class="modal__form_item">
							<span>Код подразделения:</span>
							<div class="modal__form_wp-input wp-input">
								<input type="email" class="modal__form_input input not-edit" name="subdivision" readonly="true"
									data-render="subdivision" autocomplete="off">
							</div>
						</div>
					</form>
				</div>
				<div class="modal__block_item">
					<div class="modal__block_img">
						<img src="" alt="Фото паспорта">
					</div>
				</div>
			</div>
			<div class="modal__footer">
				<button class="button modal-close" data-modal=".modal-change-photo-passport"><span>Заменить
						фотографию</span></button>
			</div>
		</div>
	</div>
</div>

<div class='modal modal-change-photo-passport' data-special-modal='modal-change-photo-passport'>
	<div class='modal__content'>
		<div class='modal__body'>
			<div class="modal__header">
				<div class="modal__header_auto">
					<button class="modal__header_button-prev btn-open-prev-modal modal-close" data-modal=".modal-client">
						<svg class='icon icon-arrow-right-circle'>
							<use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
						</svg>
					</button>
					<h3 class="modal__title">Фотография пасспорта</h3>
				</div>
			</div>
			<div class="modal__block">
				<div class="modal__block_item">
					<div class="modal__upload">
						<label class="modal__upload_lable">
							<div class="block-icon">
								<svg class='icon icon-upload'>
									<use xlink:href='img/svg/sprite.svg#upload'></use>
								</svg>
							</div>
							<p class="text">
								<span>Нажмите, чтобы загрузить</span><br>или перетащите файл
							</p>
							<input type="file" name="file" class="input-file">
						</label>
					</div>
				</div>
			</div>
			<div class="modal__footer">
				<button class="button transparent modal-close" data-modal=".modal-client"><span>Назад</span></button>
				<button class="button btn-save"><span>Сохранить</span></button>
			</div>
		</div>
	</div>
</div>

<div class='modal modal-add-client' data-special-modal='modal-add-client' data-modal-close=".modal-close">
	<div class='modal__content'>
		<div class='modal__body'>
			<div class="modal__header">
				<div class="modal__header_auto">
					<h3 class="modal__title">Добавить клиента</h3>
				</div>
			</div>
			<div class="modal__block">
				<div class="modal__actions">
					<button class="modal__actions_button modal-close">
						<span>Забронировать ячейку</span>
						<svg class='icon icon-arrow-right-circle'>
							<use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
						</svg>
					</button>
					<button class="modal__actions_button modal-close">
						<span>Оформить гостевой доступ</span>
						<svg class='icon icon-arrow-right-circle'>
							<use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
						</svg>
					</button>
					<button class="modal__actions_button modal-close">
						<span>Создать ЛК</span>
						<svg class='icon icon-arrow-right-circle'>
							<use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
						</svg>
					</button>
					<button class="modal__actions_button modal-close">
						<span>Создать договор</span>
						<svg class='icon icon-arrow-right-circle'>
							<use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
						</svg>
					</button>
				</div>
			</div>
			<div class="modal__footer">
			</div>
		</div>
	</div>
</div>