<aside class="sidebar">
  <div class="sidebar__body">
    <div class="sidebar__logo">
      <img src="./img/logo.png" alt="Лого">
    </div>
    <div class="sidebar__content">
      <div class="sidebar__wp-list">
        <span class="sidebar__name-list">Меню</span>
        <ul class="sidebar__list">
          <li class="sidebar__item _my-accordion" data-special-accordion="sidebar-accordion">
            <button class="sidebar__item_control _my-accordion-control">
              <svg class='icon icon-dashboards'>
                <use xlink:href='img/svg/sprite.svg#dashboards'></use>
              </svg>
              <span>Дашборды</span>
              <svg class='icon icon-arrow'>
                <use xlink:href='img/svg/sprite.svg#arrow'></use>
              </svg>
            </button>
            <div class="sidebar__item_content _my-accordion-content">
              <a class="item-info-count" data-path="dashboards/clients" data-count="1"><span>Клиенты</span></a>
              <a class="item-info-count" data-path="dashboards/finance"><span>Финансы</span></a>
              <a class="item-info-count" data-path="dashboards/marketing"><span>Маркетинг</span></a>
              <a class="item-info-count" data-path="dashboards/warehouse"><span>Склад</span></a>
              <a class="item-info-count" data-path="dashboards/forecast"><span>План/факт</span></a>
            </div>
          </li>
          <li class="sidebar__item" data-path="charging-locks">
            <div class="sidebar__item_control">
              <svg class='icon icon-lock'>
                <use xlink:href='img/svg/sprite.svg#lock'></use>
              </svg>
              <span>Заряд замков</span>
            </div>
          </li>
          <li class="sidebar__item" data-path="users">
            <div class="sidebar__item_control">
              <svg class='icon icon-users'>
                <use xlink:href='img/svg/sprite.svg#users'></use>
              </svg>
              <span>Пользователи</span>
            </div>
          </li>
          <li class="sidebar__item" data-path="working-hours">
            <div class="sidebar__item_control">
              <svg class='icon icon-watch'>
                <use xlink:href='img/svg/sprite.svg#watch'></use>
              </svg>
              <span>Время работы</span>
            </div>
          </li>
          <li class="sidebar__item" data-path="rooms">
            <div class="sidebar__item_control">
              <svg class='icon icon-ruble'>
                <use xlink:href='img/svg/sprite.svg#ruble'></use>
              </svg>
              <span>Цены ячеек</span>
            </div>
          </li>
          <li class="sidebar__item" data-path="payments">
            <div class="sidebar__item_control">
              <svg class='icon icon-card'>
                <use xlink:href='img/svg/sprite.svg#card'></use>
              </svg>
              <span>Платежи</span>
            </div>
          </li>
          <li class="sidebar__item" data-path="agreements">
            <div class="sidebar__item_control">
              <svg class='icon icon-contract'>
                <use xlink:href='img/svg/sprite.svg#contract'></use>
              </svg>
              <span>Договоры</span>
            </div>
          </li>
          <li class="sidebar__item" data-path="list-clients">
            <div class="sidebar__item_control">
              <svg class='icon icon-list-users'>
                <use xlink:href='img/svg/sprite.svg#list-users'></use>
              </svg>
              <span>Список клиентов</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="sidebar__wp-list">
        <span class="sidebar__name-list">Поддержка</span>
        <ul class="sidebar__list">
          <li class="sidebar__item" data-path="messages">
            <button class="sidebar__item_control item-info-count" data-count="2">
              <svg class='icon icon-mail'>
                <use xlink:href='img/svg/sprite.svg#mail'></use>
              </svg>
              <span>Сообщения</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="sidebar__wp-list">
        <span class="sidebar__name-list">Системные</span>
        <ul class="sidebar__list">
          <li class="sidebar__item _my-accordion" data-special-accordion="sidebar-accordion">
            <button class="sidebar__item_control _my-accordion-control">
              <svg class='icon icon-account'>
                <use xlink:href='img/svg/sprite.svg#account'></use>
              </svg>
              <span>Аккаунт</span>
              <svg class='icon icon-arrow'>
                <use xlink:href='img/svg/sprite.svg#arrow'></use>
              </svg>
            </button>
            <div class="sidebar__item_content _my-accordion-content">
              <a href="#"><span>Выйти</span></a>
              <a href="#"><span>Сбросить пароль</span></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>