@tailwind base;
@tailwind components;
@tailwind utilities;

.table-plan .input-cell {
  border: none;
  padding: 5px;
}

.table-plan .input-cell:not(.not-edit) {
  background-color: #eff4fb;
}

.table-plan .ag-cell {
  padding: 0 !important;
}

.table-plan .ag-header-cell {
  padding-left: 5px !important;
  padding-right: 5px !important;
}