.button {
	border-radius: 4px;
	background-color: $blue;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	transition: 0.2s;
	padding: 12px 25px;
	white-space: nowrap;

	&:hover {
		opacity: 0.9;
	}

	&:active {
		transform: scaleX(0.95);
		box-shadow: 0 2px 4px rgba(147, 165, 247, 0.3);
	}

	span {
		&:nth-child(2) {
			display: none;
		}
	}

	&._confirmed {
		background-color: $green-light;
		color: $green;

		span {
			&:nth-child(1) {
				display: none;
			}

			&:nth-child(2) {
				display: inline-block;
			}
		}

		&:hover {
			opacity: 0.9;
		}
	}

	&.transparent {
		background-color: transparent;
		color: #1c2434;
		border: 1px solid #eaecee;

		&:hover {
			opacity: 1;
			border-color: $blue;
		}
	}

	&.shipped {
		background-color: $green-light;
		color: $green;

		>span {
			&:nth-child(1) {
				display: none;
			}

			&:nth-child(2) {
				display: inline-block;
			}
		}
	}

	&.btn-hide-lock-room {
		background-color: #fff;

		&._active {
			background-color: $red-light;
			color: $red;

			&:hover {
				border-color: $red;
			}
		}
	}

	&[disabled] {
		pointer-events: none;
		opacity: 0.7;
	}
}

.button-table {
	border: 1px solid #eaecee;
	border-radius: 4px;
	height: 40px;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	color: #0c1116;
	white-space: nowrap;

	transition: 0.2s;

	.icon {
		fill: #a8b0b9;

		&.icon-plus {
			width: 10px;
			height: 10px;
		}
	}

	&:hover {
		background-color: #e1edfd;
	}

	&:active {
		background-color: #edf6ff;
	}

	&.btn-table-upload-excel[data-count] {
		span {
			order: 0;
		}

		&::after {
			content: attr(data-count);
			order: 1;
		}

		.icon {
			order: 2;
		}
	}

	&.btn-set-sort {
		.icon-arrow {
			transition: 0.2s;
		}

		&.sort {
			.icon-arrow {
				transform: rotate(180deg);
			}
		}
	}

	&.btn-filter-reset {
		&._is-filter {
			background-color: #dcecfa;
			border-color: #2196f3;

			.icon {
				fill: #2196f3;
			}
		}
	}

	@media (max-width: $md4) {
		padding: 5px;
	}

	@media (max-width: $md6) {
		font-size: 13px;
	}
}

.button-text {
	display: flex;
	align-items: center;
	gap: 5px;

	font-weight: 500;
	font-size: 14px;
	line-height: 155%;
	color: #212b36;

	.icon {
		stroke: currentColor;
		width: 16px;
		height: 16px;
	}

	&.blue {
		color: $blue;
	}

	&.btn-edit-data {

		.span-edit,
		.icon-edit {
			display: inline-block;
		}

		.span-save,
		.icon-save {
			display: none;
		}

		&._is-edit {
			color: $blue;

			.span-edit,
			.icon-edit {
				display: none;
			}

			.span-save,
			.icon-save {
				display: inline-block;
			}
		}
	}
}

.button-icon-search {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 50px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button-tab {
	padding: 10px;
	font-size: 14px;
	color: #212b36;
	font-weight: 500;
	white-space: nowrap;
	background-color: #fff;
	border: 1px solid #e1e8f0;
	border-radius: 4px;
	transition: 0.2s;

	&:hover {
		background-color: #eff4fb;
	}

	&._active {
		color: #fff;
		background-color: $blue;
	}
}

.table-button {
	font-size: 14px;
	padding: 4px 10px;
	height: 30px;
	white-space: nowrap;

	&.transparent {
		background-color: #eff4fb;
	}
}

.btn-budget-plan,
.btn-budget-fact {
	flex-shrink: 0;

	&.active {
		background-color: #2c47d6;
		color: #fff;

		&:hover {
			opacity: 0.9;
		}
	}
}