.button {
	border-radius: 4px;
	background-color: $blue;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	transition: 0.2s;
	padding: 12px 25px;

	&:hover {
		opacity: 0.9;
	}

	&:active {
		transform: scaleX(0.95);
		box-shadow: 0 2px 4px rgba(147, 165, 247, 0.3);
	}

	&.transparent {
		background-color: transparent;
		color: #1c2434;
		border: 1px solid #eaecee;
		padding: 10px 25px;
		&:hover {
			opacity: 1;
			border-color: $blue;
		}
	}
}

.button-table {
	border: 1px solid #eaecee;
	border-radius: 4px;
	height: 40px;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	color: #0c1116;

	transition: 0.2s;

	.icon {
		fill: #a8b0b9;
		&.icon-plus {
			width: 10px;
			height: 10px;
		}
	}

	&:hover {
		background-color: #e1edfd;
	}

	&:active {
		background-color: #edf6ff;
	}

	&.btn-table-upload-excel[data-count] {
		span {
			order: 0;
		}

		&::after {
			content: attr(data-count);
			order: 1;
		}

		.icon {
			order: 2;
		}
	}
}

.button-text {
	display: flex;
	align-items: center;
	gap: 5px;

	font-weight: 500;
	font-size: 14px;
	line-height: 155%;
	color: #212b36;

	.icon {
		stroke: currentColor;
		width: 16px;
		height: 16px;
	}

	&.blue {
		color: $blue;
	}

	&.btn-edit-client-data {
		.span-edit,
		.icon-edit {
			display: inline-block;
		}

		.span-save,
		.icon-save {
			display: none;
		}

		&._is-edit {
			color: $blue;

			.span-edit,
			.icon-edit {
				display: none;
			}

			.span-save,
			.icon-save {
				display: inline-block;
			}
		}
	}
}

.button-icon-search {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 50px;
}
