// Шрифты
@import 'settings/fonts';
// переменные
@import 'settings/variables';
// Обнуление стилей
@import 'settings/null';
// Миксины
@import 'settings/mixins';

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

*::-webkit-scrollbar-track {
	background-color: #fbf8ec;
}

*::-webkit-scrollbar-thumb {
	background-color: $blue;
}

html {
	scrollbar-gutter: stable; // Фикс скачка ширины страницы при открытой модалке

	// scroll-behavior: smooth;
	&._lock {
		overflow: hidden;
		position: relative;
		height: 100%;
	}
}

body {
	color: $color_main;
	font-size: $font-size;
	// touch-action: none;
	// -ms-touch-action: none;
	background-color: #f1f5f9;

	&._lock {
		overflow: hidden;
		position: relative;
		height: 100%;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;

	&._loaded {}
}

.content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
	min-height: 100%;
}

._container {
	min-width: 100%;
	min-height: 100%;
	padding: 45px;

	@media (max-width: $md1) {
		padding: 20px;
	}
}

.icon {
	width: 20px;
	height: 20px;
	fill: #000;

	&.icon-edit {
		stroke: #000;
	}
}

.hover-line {
	position: relative;
	display: inline-block;
	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: $blue;
		transition: 0.2s;
	}

	&:hover {
		&::before {
			opacity: 0;
		}
	}
}

[data-fancybox] {
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
}

._circle {
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: $blue;
	border: 1px solid currentColor;

	&::before {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: currentColor;
	}
}

[scroll-to] {
	cursor: pointer;
	transition: 0.2s;

	// &:hover {
	// 	transform: scale(1.05);
	// }
	&:active {
		transform: scale(0.9);
	}
}

.text-success,
.text-error,
.text-warning,
.text-info {
	font-size: 14px;
	padding: 2px 4px;
	border-radius: 4px;
	border: 1px solid currentColor;
}

.text-success {
	color: $green;
	background: $green-light;
}

.text-error {
	color: $red;
	background: $red-light;
}

.text-warning {
	color: $yellow;
	background: $yellow-light;
}

.text-info {
	color: $blue;
	background: $blue-light;
}

.wrapper-google-table {
	width: 100%;
	overflow-x: auto;
}

.google-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	th,
	td {
		font-size: 14px;
		padding: 10px;
		border: 1px solid #32353c;
		border-collapse: collapse;
	}
}

// shared
@import 'shared/input';
@import 'shared/button';
@import 'shared/tippy';
@import 'shared/slider';
@import 'shared/filter';

// components
@import 'components/sidebar';
@import 'components/header';
@import 'components/footer';
@import 'components/modal';
@import 'components/pagging';

// modules
@import 'modules/accordion';
// @import 'modules/buffer_copy';
@import 'modules/tabs';
@import 'modules/select';
@import 'modules/output_info';
@import 'modules/loader';
@import 'modules/flatpickr';
@import 'modules/notification';

//<ОСНОВНОЙ БЛОК>
@import 'styles/main';
@import 'styles/charts';
@import 'styles/table';
@import 'styles/widgets';
@import 'styles/ranges';
@import 'styles/visualization';

// Страницы
@import 'pages/dashboards';
@import 'pages/sales-channels';

@import 'pages/working-hours';
@import 'pages/warehouses';
@import 'pages/indexation';
@import 'pages/locks';
@import 'pages/payments';
@import 'pages/agreements';
@import 'pages/list-clients';
@import 'pages/messages';
@import 'pages/forecast';
@import 'pages/users';
@import 'pages/transactions';
@import 'pages/finance';
@import 'pages/open';

._none {
	display: none !important;
}

._hidden {
	opacity: 0 !important;
	visibility: hidden !important;
}