<div class='modal__body'>
  <div class="modal__header">
    <div class="modal__header_auto">
      <h3 class="modal__title">Добавить клиента</h3>
    </div>
  </div>
  <div class="modal__block">
    <div class="modal__actions">
      <button class="modal__actions_button modal-close">
        <span>Забронировать ячейку</span>
        <svg class='icon icon-arrow-right-circle'>
          <use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
        </svg>
      </button>
      <button class="modal__actions_button modal-close">
        <span>Оформить гостевой доступ</span>
        <svg class='icon icon-arrow-right-circle'>
          <use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
        </svg>
      </button>
      <button class="modal__actions_button modal-close">
        <span>Создать ЛК</span>
        <svg class='icon icon-arrow-right-circle'>
          <use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
        </svg>
      </button>
      <button class="modal__actions_button modal-close">
        <span>Создать договор</span>
        <svg class='icon icon-arrow-right-circle'>
          <use xlink:href='img/svg/sprite.svg#arrow-right-circle'></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="modal__footer">
  </div>
</div>